
div#content .operation
{
	display: none;
}

div#content .operation form
{
	margin-top: 15px;
}

div#content .operation label
{
    display: block;
    float: left;
	font-size: 1.4em;
	width: 70px;
	height: 10px;
	margin-right: 10px;
	margin-bottom: 15px;
}

div#content .operation input,textarea
{
	font-size: 1.4em;
	width: 100%;
	border: none;
	background-color: #DFDFDF;
}

div#content .operation textarea
{
    font-size: 0.8em;
	height: 600px;
}

div#content .operation select
{
    margin-top: 20px;
	background-color: black;
	width: 100%;
	border: none;
	color: white;
	font-size: 1.4em;
}

div#content .operation input[type=submit]
{
    border-left: 3px solid #305eb2;
    padding-left: 5px;
	margin-left: 70px;
	width: 25%;
	background-color: #DFDFDF;
}

div#content .operation input[type=button]
{
    margin-top: 10px;
    width: 25%;
}

div#content .operation input.focus
{
    width: 75%;
    border-left: 3px solid #305eb2;
    padding-left: 5px;
    background-color: transparent;
    color: white;
    font-weight: lighter;
}

div#content .operation a.formlink
{
    margin-top: 10px;
    float: right;
}

div#content .operation textarea.focus 
{
    border-left: 3px solid #305eb2;
    margin-top: 10px;
    padding-left: 5px;
    background-color: transparent;
    color: white;
    font-weight: lighter;
}

div#content .operation .current p
{
    border-left: 3px solid transparent;
    margin-top: 5px;
    padding-left: 8px;
}

div#content .operation .current p.selected
{
    border-left: 3px solid #66A3D2;
}

div#content .operation .current a
{
    text-decoration: none;
    color: white;
}

div#content .operation .current a:hover
{
    text-decoration: underline;
    color: white;
}

.invisibleiframe
{
    width: 0px;
    height: 0px;
    border: none;
}

img.not-selected
{
    border: none;
    margin: 10px;
}

img.selected
{
    border: 3px solid #66A3D2;
    padding: 3px;
    margin: 4px;
}

.link-container > a
{
    margin-right: 50px;
}

.image-container 
{
    width: 140px;
    float: left;
}

.image-container > a
{
    padding-left: 20px;
    float: left;
}

.image-container >a.no-margin
{
    margin: 0px;
    padding: 0px;
}