*
{
    -webkit-font-smoothing: subpixel-antialiased;
}

html
{
    height: 100%;
}

body
{
    background-color: #262626;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', arial, sans-serif;
    color: white;
    height: 100%;
}

a
{
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -3em;
}

.footer, .push
{
    height: 4em;
}

.footer
{
    border-top: 1px dotted white;
    padding-top: 15px;
    font-size: small;
}

.clear
{
    clear: both;
}

div 
{
    margin: 0;
}

#header div.bar
{
    width: 100%;
    height: 32px;
}

#header div.bar img
{
    border: 0;
}

div.container
{
    max-width: 1200px;
    min-width: 960px;
    margin: 0 auto 0 auto;
}

div#header > div.bar:first-child
{
    background-color: #1F1F1F;
    border-bottom: 1px solid #555555;
}

.bar div.container img
{
    float: right;
}

div.background
{
    width: 100%;
    min-width: 960px;
    height: auto !important;
    height: 100%;
    position: absolute;
    z-index: -1;
    overflow: hidden;
}

div.background img
{
    width: 100%;
}

div.lightbox
{
    background-image: url("/img/lightbox.png");
    padding: 15px 5px 5px 5px;
    overflow: hidden;
}

div.navigation
{
    height: 8em;
}

div.navigation * 
{
    margin: 0;
    font-weight: lighter;
}

div.navigation h1
{
    font-size: 1.7em;
    font-family: arial;
}

div.navigation ul p
{
    margin-top: 4px;
    font-size: 0.7em;
    font-family: arial;
}

div.navigation li
{
    float: left;
    margin-right: 27px;
    padding: 5px;
}

div.navigation div.block
{
    padding: 4px;
}

div.navigation div:hover
{
    background-image: url('/img/darkbox.png');
}

div.navigation ul
{
    margin-left: -9px;
    padding: 30px 0 30px 0;
    list-style: none;
}

div.navigation ul a
{
    text-decoration: none;
    color: white;
}

div.navigation ul a:visited
{
    color: inherit;
}

div.navigation div.active
{
    margin: 0px 6px 0px 6px;
    border-bottom: 2px solid white;
}

div.teir2
{
    margin-left: -4px;
    margin-top: -37px;
    padding: 15px;
    z-index: 1;
    display: block;
    position: absolute;
    background-image: url('/img/darkbox.png');
}

div.teir2 h1
{
    font-family: 'Open Sans', Arial;
    font-size: 1.4em;
}

div#feature div#featuredcontent
{
    font-family: 'Open Sans', Arial;
    width: 40%;
    padding-left: 9px;
    margin: 15px 0 70px 0;
}

div#feature h1,h2,p
{   
    padding: 0;
    margin: 0;
}

div#feature h1
{
    font-size: 3.0em;
}

div#feature a
{
    color: #36D792;
}

div#feature a:visited
{
    color: #007241;
}

div#feature p
{
    margin: 10px 0px 20px 0px;
    font-size: 1.1em;
}

div#feature h2
{
    font-size: 0.7em;
    font-weight: lighter;
    margin-bottom: 7px;
}

div#content h1, p
{
    padding: 0;
    margin: 0;
}

div#content h1
{
    font-weight: lighter;
    font-size: 1.4em;
}

div#content a
{
    color: #2caea0;    
}

div#content a:visited
{
    color: #305eb2;
}

