
div#content .right
{
    float: right;
    margin-right: 15px;
}

div.right .block
{
    border-left: 1px dotted white;
    padding-left: 9px;
    margin-right: 15px;
    width: 150px;
    height: 180px;
    float: right;
}

div#content .left
{
    font-size: 1.7em;
    padding-left: 15px;
    float: left;
    width: 40%;
}

div#content .right .block ul
{
    list-style: none;
    padding: 0;
    margin: 0;
}

div#content .right .block h1
{
    margin-bottom: 10px;
}

div#content .right .block h3
{
    font-size: 0.7em;
    font-weight: lighter;
}

div#content .right .block img
{
    border: none;
    margin-right: 10px;
}

div#content .right .block a.rsslink
{
    text-decoration: none;
    color: white;
}

div#content .right .block a.rsslink:hover
{
    text-decoration: underline;
}


div.feed
{
    padding-left: 15px;
    margin: 40px 0 20px 0;
}

div.feed .block
{
    float: left;
    width: 22%;
    margin-right: 3%;
    padding-top: 10px;
}

div.feed .block p
{
    margin-top: 10px;
}

.no1
{
    border-top: 3px solid #305eb2;
}

.no2
{
    border-top: 3px solid #4b32b3;
}

.no3
{
    border-top: 3px solid #005D54;
}

.no4
{
    border-top: 3px solid #cb9533;
}
