
div.right
{
    float: right;
    margin-right: 15px;
    margin-bottom: 20px;
}

div.right div.block
{
    border-left: 1px dotted white;
    padding-left: 9px;
    margin-right: 15px;
    width: 150px;
    height: 180px;
    float: right;
}

div.left
{
    font-size: 1.7em;
    padding-left: 15px;
    float: left;
    width: 45%;
    margin-bottom: 20px;
}

div.left p
{
    font-size: 0.8em;
    margin-top: 15px;
}

.right img
{
    margin: -15px -20px 0px 0px;
}

div.right div.block ul
{
    list-style: none;
    padding: 0;
    margin: 0;
}

div.right div.block h1
{
    margin-bottom: 10px !important;
}

div.right div.block h3
{
    font-size: 0.7em;
    font-weight: lighter;
}

div.right div.block img
{
    border: none;
    margin-right: 10px;
}

div.right div.block a
{
    display: block;
    margin-bottom: 9px;
}

div.right div.block a.rsslink
{
    text-decoration: none;
    color: white;
}

div.right div.block a.rsslink:hover
{
    text-decoration: underline;
}


div.feed
{
    padding-left: 15px;
    margin: 40px 0 20px 0;
}

div.feed .block
{
    float: left;
    width: 22%;
    margin-right: 3%;
    padding-top: 10px;
}

div.feed .block p
{
    margin-top: 10px;
}
