<!DOCTYPE html>
<html>
    <head>
        <title>{{ title|title }}</title>
        {% include "head_common.html" %}
        <link href="/css/blog.css" rel="stylesheet" type="text/css"/>
        <link href="/css/admin.css" rel="stylesheet" type="text/css"/>

        <script type="text/javascript">
            $(window).ready(function()
            {
                $(".operation").hide();

                $("#admin_nav a").click(function(e)
                {
                    $(".operation").hide();
                    var id = $(this).attr("id") + "_div";
                    $("#" + id).toggle();   
                })

                $("#authbutton").click(function(e)
                {
                    $.post("/admin/authenticate", { password: $("#authpass").val() })
                        .success(function() { location.reload() })
                        .error(function() {  });
                })

                $("#unauth_button").click(function(e)
                {
                    $.post('/admin/unauth')
                        .success(function() { location.reload(); });
                })

                $("#gallerybutton").click(function(e)
                {
                    $.post("/admin/addgallery", { 
                        name: $("#newgalname").val(),
                        desc: $("#newgaldesc").val()
                    })
                        .success(function() { location.reload(); })
                        .error(function() {});
                })

				$("#editpostbutton").click(function(e)
				{
					$.post("/admin/edit", {
						id: $("#editid").val(),
						content: $("#editcontent").val()
					})
				})

				$("#editid").change(function(e)
				{
					var postIndex = $("#editid").val();
					if (postIndex !== 0)
					{
						$.post("/admin/post/" + postIndex)
							.success(function(data) {
								if (typeof data === "string")
								{
									data = JSON.parse(data);
								}

								$("#editcontent").val(data["content"]);
							}, "json");
					}
				});
            })
        </script>
    </head>
    <body>
        <div class='wrapper'>
            <div id='header'>
                {% include "header.html" %}
            </div>

            <div class='background'>
                <img src='{{ 'blue.jpg'|imglink }}'/>
            </div>

            {% include "navigation.html" %}

            <div id='content' class='lightbox container'>
                <h1>What would you like to do?</h1>

                <div class='thinleft'>
                    {% if authed %}
                    <div id="add_gallery_div" class="operation">
                        <p> Add a gallery </p>
                        <form>
                            <label>Gallery Name</label><input id="newgalname" type='text' name='name'/><div class='clear'></div>
                            <label>Display Name</label><input id="newgaldesc" type='text' name='name'/><div class='clear'></div>
                            <input id='gallerybutton' type='button' value='Add'/>
                        </form>
                    </div>
                    <div id="upload_image_div" class='operation'>
                        <p> Choose an image to upload, along with its metadata </p>
                        <form action='/admin/gallery' method='POST' enctype="multipart/form-data">
                            <label>File </label>        <input type='file' name='image'/><div class='clear'></div>
                            <label>Title </label>       <input type='text' name='title'/><div class='clear'></div>
                            <label>Description</label>  <input type='text' name='desc'/><div class='clear'></div>
                            <label>Gallery </label>     <select name='gallery'>
                                {% for cat in categories %}
                                <option value='{{cat.id}}'>{{cat.name|title}}</option>
                                {% endfor %}
                            </select>
                            <div class='clear'></div>
                            <input id="imgupbutton" type='submit' value='Upload' />
                            <div class='clear'></div>
                        </form>
                    </div>

				    <div id="edit_post_div" class='operation'>
					    <p>Edit a post by ID</p>
					    <form>
						    <label>ID</label><input type='text' name='id' id='editid'/><div class='clear'/><div class='clear'></div>
						    <label>Content</label><textarea name='content' id='editcontent'></textarea><div class='clear'></div>
						    <input id='editpostbutton' type='button' value='Edit'/>
					    </form>
				    </div>

                    <div id="unauth_div" class='operation'>
                        <a href='#' id='unauth_button'>Really log out</a>
                    </div>
                    {% endif %}
                </div>
            </div>

            <div class='thinright'>
                <h2>ADMINISTRATION</h2>
                {% if authed %}
                <div class='block first'><h1><a id="upload_image" class='admin_auth' href="#">Upload an Image</a></h1></div>
                <div class='block'><h1><a id="add_gallery" class='admin_auth' href="#">Add a gallery</a></h1></div>
                <div class='block'><h1><a id="edit_post" class='admin_auth' href="#">Edit Post</a></h1></div>
                <div class='block'><h1><a id="manage_comment" class='admin_auth' href="#">Manage Comments</a></h1></div>
                <div class='block'><h1><a id="unauth" class='admin_auth' href="#">Log out</a></h1></div>
                {% endif %}
                <div class='clear'> </div>
            </div>
            
            <div class='push'>
            </div>
        </div>
        <div class='footer container'>
            {% include "footer.html" %}
        </div>
    </body>
</html>
