<!DOCTYPE html>
<html>
    <head>
        <title>{{ title|title }}</title>
        {% set context = { nosyntax: true, notracking: true } %}
        {% include "head_common.html" with context %}
        <link href="/css/blog.css" rel="stylesheet" type="text/css"/>
		<link href="/css/admin.css" rel="stylesheet" type="text/css"/>

        <script type="text/javascript">
            $(window).ready(function()
            {
                $(".operation").hide();
                $(".post_div").show();

                function updatePostsAndIdeas()
                {
                    function style(e)
                    {
                        return e;
                    }

                    //Download all the posts.
                    var postRequest = $.post("/admin/posttitles");
                    postRequest.success(function (data)
                    {
                        var outer = $(".current_posts");
                        outer.html("");

                        if (typeof data === "string")
                        {
                            data = JSON.parse(data);
                            for (var i in data)
                            {
                                var inner = style($("<p>"));
                                var link = $("<a>");
                                link.html(data[i].title);
                                link.click(function(e)
                                {
                                    alert("!");
                                });

                                inner.append(link)
                                outer.prepend(inner);
                            }
                        }
                    }, "json");

                    var ideaRequest = $.post("/admin/ideatitles");
                    ideaRequest.success(function(data)
                    {
                        var outer = $(".current_ideas");
                        outer.html("");

                        if (typeof data === "string")
                        {
                            data = JSON.parse(data);
                            for (var i in data)
                            {
                                (function()
                                {
                                    var inner = style($("<p>"));
                                    var link = $("<a>");
                                    link.attr("href", "#");
                                    link.html(data[i].title);

                                    link.click(function(e)
                                    {
                                        $(".operation").hide();

                                        $("#edit_idea_title").val(data[i].title);
                                        $("#edit_idea_content").val(data[i].content);
                                        $("#edit_idea_id").val(data[i].id);

                                        $("#edit_idea").show();
                                    });

                                    inner.append(link);

                                    var rm = $("<a>");
                                    rm.attr("href", "#");
                                    rm.css("float", "right");
                                    rm.html("Delete");

                                    function hoverin()
                                    {
                                        inner.addClass("selected");
                                    }

                                    function hoverout()
                                    {
                                        inner.removeClass("selected");
                                    }

                                    link.hover(hoverin, hoverout);
                                    rm.hover(hoverin, hoverout);

                                    rm.click(function(e)
                                    {
                                        $.post("/admin/removeidea", { id: data[i].id })
                                         .success(function()
                                         {
                                            updatePostsAndIdeas();
                                         });
                                         return false;
                                    });
                                
                                    inner.append(rm);
                                    outer.prepend(inner);
                                }());
                            }
                        }
                    });
                }

                updatePostsAndIdeas();

                $(".admin_nav").click(function(e)
                {
                    $(".operation").hide();
                    var id = $(this).attr("id") + "_div";
                    $("." + id).toggle();
                })

                //Preview
                $("#edit_idea_preview").click(function(e)
                {
                    $.post("/admin/preview", {
                        content: $("#edit_idea_content").val(), 
                        tags: "unpublished, idea"
                    }).success(function(d)
                    {
                        $("#preview_area").show();
                        $("#preview_area").html(
                            "<h1>" + $("#edit_idea_title").val() + "</h1>" + d
                        );
                    });

                    //Also, save the thing.
                    $.post("/admin/saveidea", {
                        id: $("#edit_idea_id").val(), 
                        content: $("#edit_idea_content").val(), 
                        title: $("#edit_idea_title").val(), 
                    });
                });

                //Post shenanigans
                $("#post").click(function(e)
                {
                    updatePostsAndIdeas();
                    return false;
                });

                $("#ideainput").submit(function(e)
                {
                    var req = $.post("/admin/addidea", {
                        title: $("#idea_title").val()
                    });

                    req.success(function(data)
                    {
                        //Activate the edit UI.
                        updatePostsAndIdeas();
                        $("#idea_title").val("");
                    });

                    return false;
                });

                //Unauthentication 
                $("#unauth_button").click(function(e)
                {
                    $.post('/admin/unauth')
                        .success(function() { window.location = "/"; });
                })


                $("#gallerybutton").click(function(e)
                {
                    $.post("/admin/addgallery", { 
                        name: $("#newgalname").val(),
                        desc: $("#newgaldesc").val()
                    })
                        .success(function() { location.reload(); })
                        .error(function() {});
                })

				$("#editpostbutton").click(function(e)
				{
					$.post("/admin/edit", {
						id: $("#editid").val(),
						content: $("#editcontent").val()
					})
				})

				$("#editid").change(function(e)
				{
					var postIndex = $("#editid").val();
					if (postIndex !== 0)
					{
						$.post("/admin/post/" + postIndex)
							.success(function(data) {
								if (typeof data === "string")
								{
									data = JSON.parse(data);
								}

								$("#editcontent").val(data["content"]);
							}, "json");
					}
				});
            })
        </script>
    </head>
    <body>
        <div class='wrapper'>
            <div id='header'>
                {% include "header.html" %}
            </div>

            <div class='background'>
                <img src='{{ 'blue.jpg'|imglink }}'/>
            </div>

            {% include "navigation.html" %}

			<div id="feature" class='container'>
				<div id='featuredcontent'>
					<h2>ADMIN PANEL</h2>
					<h1>Statistics</h1>
                    <p>
                            You have published <b>{{ stats.published }}</b> posts. <br />
                            People have posted <b>{{ stats.comments }}</b> comments. <br />
                            You have <b>{{ stats.ideas }}</b> unpublished ideas. <br />
                            There are <b>{{ stats.galleries }}</b> galleries, with <b>{{ stats.totalImages }}</b> images in them
                    </p>
				</div>
			</div>

            <div id='content' class='container'>
                <div class='thinleft'>
                    <div class='lightbox no1 operation' id="edit_idea">
                        <form id='edit_idea'>
                            <label>Title</label> <input type='text' id='edit_idea_title' class='focus' /><br />
                            <textarea id='edit_idea_content' class='focus invisible'></textarea><br />
                            <input type='hidden' id='edit_idea_id' />
                            <input type='button' id='edit_idea_preview' value='Preview'/>
                            <a href='#' id='edit_idea_publish' class='formlink'>Publish</a>
                        </form>
                    </div>

                    <div class='lightbox no1 operation' id='preview_area'>
                        <h3>Posted {{post.time|date("l, F jS")}} | 
                        {% for tag in tags %}{{tag.name|title}} {% endfor %}
                        </h3>
						<div class='postcontent'>
						{{post.content|markdown|raw}}
						</div>
                        <div class='clear'></div>
                    </div>

                    <div class='lightbox no1 operation post_div'>
                        <h1>Ideas</h1>

                        <form id="ideainput"> 
                            <input type='text' id='idea_title' class='focus'/>
                        </form>

                        <div class='current_ideas current'>
                            
                        </div>
                    </div>
                    <div class='lightbox no2 operation post_div'>
                        <!-- Download the titles of all the posts and ideas -->
                        <h1>Posts</h1>

                        <div class='current_posts current'>
                        </div>
                    </div>

					<div class='lightbox no3 operation gallery_div'>
						<div id="gallery_div" class="operation">
							<p> Add a gallery </p>
							<form>
								<label>Gallery Name</label><input id="newgalname" type='text' name='name'/><div class='clear'></div>
								<label>Display Name</label><input id="newgaldesc" type='text' name='name'/><div class='clear'></div>
								<input id='gallerybutton' type='button' value='Add'/>
							</form>
						</div>

						<div id="gallery_div_2" class='operation'>
							<p> Choose an image to upload, along with its metadata </p>
							<form action='/admin/gallery' method='POST' enctype="multipart/form-data">
								<label>File </label>        <input type='file' name='image'/><div class='clear'></div>
								<label>Title </label>       <input type='text' name='title'/><div class='clear'></div>
								<label>Description</label>  <input type='text' name='desc'/><div class='clear'></div>
								<label>Gallery </label>     <select name='gallery'>
									{% for cat in categories %}
									<option value='{{cat.id}}'>{{cat.name|title}}</option>
									{% endfor %}
								</select>
								<div class='clear'></div>
								<input id="imgupbutton" type='submit' value='Upload' />
								<div class='clear'></div>
							</form>
						</div>

						<div id="edit_post_div" class='operation'>
							<p>Edit a post by ID</p>
							<form>
								<label>ID</label><input type='text' name='id' id='editid'/><div class='clear'></div>
								<label>Content</label><textarea name='content' id='editcontent'></textarea><div class='clear'></div>
								<input id='editpostbutton' type='button' value='Edit'/>
							</form>
						</div>
                    </div>
                    
                    <div class='lightbox no4 operation comments_div'>
                        There are no comment management features right now :(
                    </div>

                    <div class='lightbox no5 operation unauth_div'>
                        <a href='#' id='unauth_button'>Really log out</a>
                    </div>
                    <div class='clear'></div>
                </div>

                <div class='thinright'>
                    <h2>ADMINISTRATION</h2>
                    <div class='block first'><h1><a id="post" class='admin_nav' href="#">Posts</a></h1></div>
                    <div class='block'><h1><a id="gallery" class='admin_nav' href="#">Gallerys</a></h1></div>
                    <div class='block'><h1><a id="comments" class='admin_nav' href="#">Comments</a></h1></div>
                    <div class='block'><h1><a id="unauth" class='admin_nav' href="#">Log out</a></h1></div>
                    <div class='clear'> </div>
                </div>

            	<div class='clear'></div>
            </div>

            <div class='push'>
            </div>
        </div>
        <div class='footer container'>
            {% include "footer.html" %}
        </div>
    </body>
</html>
