<!DOCTYPE html>
<html>
    <head>
        <title>{{ title|title }}</title>
        {% include "head_common.html" %}
        <link href="/css/blog.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div class='wrapper'>
            <div id='header'>
                {% include "header.html" %}
            </div>

            <div class='background'>
                <img src='{{'blue.jpg'|imglink }}'/>
            </div>

            {% include "navigation.html" %}

            <div id="feature" class="container">
                <div id="featuredcontent">
                    <h2>CATEGORY</h2>
                    <h1>{{title|title}}</h1>
                </div>
            </div>
            <div id='content' class='container'>
                <div class='thinleft'>
                    {% for post in feed %}
                    <div class='lightbox no{{ forloop.index|stylenumber}}'>
                        <h1>
                            <a href="/post/{{post.id}}/{{post.title|linkify}}">{{post.title|title}}</a>
                        </h1>
                        <h3>Posted {{post.time|date("l, F jS")}} | 
                        {% for tag in post.tags %}{{tag.name|title}} {% endfor %}
                        </h3>
                        <p>
                            {{post.content|markdown|raw}}
                        </p>
                    </div>
                    <div class='clear'></div>
                    {% endfor %}
                    <div class='clear'></div>
                </div>

                <div class='thinright'>
                    {% for cat in categories %}
                    <div class='block {% if forloop.first %}first{% endif %}'>
                        <h1><a href="/blog/{{cat.name}}">{{cat.name|title}}</a></h1>
                    </div>
                    {% endfor %}
                    <div class='clear'></div>
                </div>

                <div class='clear'></div>
            </div>
            
            <div class='push'>
            </div>
        </div>
        <div class='footer container'>
            {% include "footer.html" %}
        </div>
    </body>
</html>
