<!DOCTYPE html>
<html>
    <head>
        <title>{{ Title|title }}</title>
        {% include "head_common.html" %}
    </head>
    <body>
        <div id='header'>
            {% include "header.html" %}
        </div>

        <div class='background'>
            <img src='/img/blue.jpg'/>
        </div>

        {% include "navigation.html" %}

        <div id='content' class='container'>
            <div class='background container'>
            </div>
            asdfasdf
        </div>
    </body>
</html>
