<!DOCTYPE html>
<html>
    <head>
        <title>{{ title|title }}</title>
        {% include "head_common.html" %}
        <link href="/css/gallery.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div class='wrapper'>
            <div id='header'>
                {% include "header.html" %}
            </div>

            <div class='background'>
                <img src='{{ 'blue.jpg'|imglink }}'/>
            </div>

            {% include "navigation.html" %}

			{% if feature %}
			<div id="feature" class="container">
				<div id="featuredcontent">
					<h2>FEATURED</h2>
					<h1> {{ feature.title|title }} </h1>
					{{ feature.content|markdown|truncate|raw}}
					{% if feature.link %}
					<a href="{{feature.link}}">More...</a>
					{% else %}
					<a href="/post/{{feature.id}}/{{feature.title|linkify}}">More...</a>
					{% endif %}
				</div>
			</div>
			{% endif %}

			<div id='content' class='lightbox container'>
                {% for gallery in galleries %}
                	<div class='gallery no{{forloop.index|stylenumber}}'>
	                	<div class='gallery_block'>
	                		<h1>{{gallery.description|title}}</h1>
	                		<a href='/gallery/{{gallery.name}}'>
	                			<img src='{{gallery.image|thumblink}}'/>
	                		</a>
	                	</div>
                	</div>
                {% endfor %}
            </div>
            
            <div class='push'>
            </div>
        </div>
        <div class='footer container'>
            {% include "footer.html" %}
        </div>
    </body>
</html>
