
{# This file is included at the top of each HTML file. It should include any common javascript files and css files #}
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<link href="http://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet" type="text/css" />
<link href="/css/default.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">

var menuTimeout = null;


$(window).ready(function()
{
    $(".navigation li > .block").hover(function()
    {
        $(".teir2").css("display", "none");
        $(".navigation .block").removeClass("hovering");

        var id = $(this).attr('id')

        $(this).addClass("hovering");
        $("#teir2" + id).css("display", "block");
        
        clearTimeout(menuTimeout);
    }, function()
    {
        var id = $(this).attr('id');
        var outer = this;

        menuTimeout = setTimeout(function() {
            $(outer).removeClass("hovering");
            $("#teir2" + id).css("display", "none");
        }, 30);
    });

    $(".teir2").hover(function()
    {
        clearTimeout(menuTimeout);
    }, function()
    {
        var outer = this;
        menuTimeout = setTimeout(function() {
            $(".navigation .block").removeClass("hovering");
            $(outer).css("display", "none");
        }, 30);
    });
});


</script>
