<!DOCTYPE html>
<html>
    <head>
        <title>{{ title|title }}</title>
        {% include "head_common.html" %}
        <link href="/css/main.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div class='wrapper'>
            <div id='header'>
                {% include "header.html" %}
            </div>

            <div class='background'>
                <img src='/img/blue.jpg'/>
            </div>

            {% include "navigation.html" %}

            {% if feature %}
                {% include "featured.html" %}
            {% endif %}

            <div id='content' class='lightbox container'>
                <div class='left'>
                    <h1> This is the title of the left content</h1>
                    <a href='/'>This is a link to the download</a>
                    <div class='clear'></div>
                </div>

                <div class='right'>
                    {% for blk in blocks %}
                    <div class='block'>
                        <h1>{{ blk.title|title }}</h1>
                        {{ blk.content|raw }}
                    </div>
                    {% endfor %}
                    <div class='clear'></div>
                </div>

                <div class='clear'></div>
                
                <div class='feed'>
                    <div class='block no1'>
                        <h1>This is the title 1</h1>
                        <p> This is the content. lorem ipsum dolor sit amet </p>
                    </div>
                    <div class='block no2'>
                        <h1>This is the title 2</h1>
                        <p> This is the content. lorem ipsum dolor sit amet </p>
                    </div>

                    <div class='block no3'>
                        <h1>This is the title 3</h1>
                        <p> This is the content. lorem ipsum dolor sit amet </p>
                    </div>

                    <div class='block no4'>
                        <h1>This is the title 4</h1>
                        <p> This is the content. lorem ipsum dolor sit amet </p>
                    </div>

                    <div class='clear'></div>
                </div>
            </div>
            
            <div class='push'>
            </div>
        </div>
        <div class='footer container'>
            {% include "footer.html" %}
        </div>
    </body>
</html>
