<div class='bar'>
    <div class='navigation container'>
        <img id='indie' src='/img/indie.png'/>
        <ul>
            {% for blk in navigation_blocks %}
            <li> 
                <a href='{{ blk.link }}'>
                    <span>
                        <h1>{{blk.title}}</h1>
                        <p>{{blk.text}}</p>
                    </span>
                </a>
                {% if blk.active %}
                    <div class='active'> </div>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
