<div class='bar'>
    <div class='navigation container'>
        <img id='indie' src='//img.rawrrawr.com/web/indie.png'/>
        <ul>
            {% for blk in navigation_blocks %}
            <li> 
                <div class='block' id='{{blk.title}}'>
                    <a href='{{ blk.link }}'>
                        <span>
                            <h1>{{blk.title}}</h1>
                            <p>{{blk.text|lower}}</p>
                        </span>
                    </a>
                </div>
                {% if blk.active %}
                    <div class='active'> </div>
                {% endif %}
            </li>
            {% endfor %}
            <div class='clear'> </div>
        </ul>
    </div>
</div>
